<form [formGroup]="form">
  <!-- <foundation-textbox formControlName="test_textbox"></foundation-textbox> -->
  <foundation-textbox formControlName="test_numeric"></foundation-textbox>
  <!-- <foundation-textarea formControlName="test_textarea"></foundation-textarea>
  <foundation-checkbox
    formControlName="test_check1"
    [dir]="labelDir.right"
  ></foundation-checkbox>
  <foundation-checkbox formControlName="test_check2"></foundation-checkbox>
  
  <foundation-radio formControlName="test_radio" [radioOptions]="radioOptions"></foundation-radio>
  <foundation-datepicker formControlName="test_date"></foundation-datepicker> -->
</form>
