/* A Modern CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.spacer {
  flex: 1 1 auto;
}

.m1 {
  margin: 1em;
}

body {
  color: #1e2124;
  background: #f7f7f7;
}

@import "../projects/ngx-foundation/src/lib/css/custom-theme2.scss";
@import "./custom-palette.scss";

@include setTheme(
  $my-primary-color,
  $my-accent-color,
  $my-warn-color,
  (
    secondary: $my-secondary-color,
    tertiary: $my-tertiary-color,
  )
);
